<?xml version="1.0"?>
<IPGWClientConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="D:\workspace\ipgwclient\doc\config.xsd">
  <Style ConPrompt="false" AutoLogon="false"/>
  <Locale/>
  <Log>
		<UserInfo Username="" Access="domestic"/>
		<UserInfo Username="flag" Access="domestic" Password="mypassword"/>
		<DefaultUser></DefaultUser></Log>
  <HBSCam>162.105.129.30:7777</HBSCam>
  <HBSDom>202.112.7.13:7777</HBSDom>
  <HBSInt>www.google.com:80</HBSInt>
  <CA/>
</IPGWClientConfig>
